div.team_card_holder {
    padding-left: 25px;
    padding-right: 25px;
}

div.col-4 {
    padding-left: 0px;
}

div.jumbotron {
    padding-top: 32px;
    padding-bottom: 0px;
    background: #8d9df9;
    color: white;
}

div.card-body {
    text-align: left;
}

.hideCard {
    visibility: hidden;
}

div.aboutUs {
    background: #8d9df9;
}