.ResetPasswordPage {
  text-align: left;
  width: 50% !important;
  margin: auto;
  margin-top: 20px;
}

.ResetPasswordPage .center-title {
  text-align: center;
}

.ResetPasswordPage .btn-primary {
  color: #ffffff;
  font-weight: bold;
  background-color: #8d9df9;
  border-radius: 15px;
  border: none;
  display: block;
}

.ResetPasswordPage .fake-link {
  text-align: center;
  text-decoration: underline;
  color: #7283e1;
}

.ResetPasswordPage .fake-link:hover {
  cursor: pointer;
}
