.ResourcePage {
  padding-top: 32px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: left;
}

.panel-container {
  display: flex;
  flex-direction: row;
}

.modal-content .modal-body .btn {
  float: right;
}
