.btn-default, .btn-default:hover, .btn-default:active, .btn-default:active:focus,
.btn-default:visited, .btn-default:focus {
  color: #dcdcdc;
  background-color: #232323;
  outline: none;
}

.top-container {
  background-color: #8D9DF9;
  padding-top: 50px;
  padding-bottom: 10%;
}

.home-main-text {
  color: white;
  text-align: left;
  font-weight: bold;
}

.narrow-search-button-col {
  display: flex;
  margin-top: 10px;
}

#narrow-search-button {
  background-color: #F9F8F8;
  border: #F9F8F8;
  color: #808080;
  font-weight: bold;
  margin-bottom: 2px;
}

.narrow-search-card {
  background-color: white;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.narrow-search-field-card {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.narrow-search-field-title {
  width: 200px;
}

#card-home-blurb-container {
  background-color: #F9F8F8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: -6%;
  margin-bottom: 20px;
}

.card-main-text {
  font-size: 20px;
  margin-bottom: 10px;
}

.card-note-text {
  color: #8D9DF9;
  font-size: 18px;
  margin-bottom: 30px;
}

#learn-mhrd-button {
  background-color: #8D9DF9;
  border-color: #8D9DF9;
}

.FindResource {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.FindResource #result-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.left-panel {
  height: 100%;
  background-color: #8D9DF9;
  padding: 20px 10px 20px 10px;
  overflow: auto;
}

.right-panel {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  overflow: auto;
}

.small-text {
  font-size: small;
}
