.App {
  text-align: center;
  min-height: -webkit-fill-available;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Raleway, Helvetica;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#main-navbar {
  background: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}

#main-navbar .nav-pills .nav-link {
  color: black;
  padding: 4px 8px 4px 8px;
  border-radius: 20px;
}

#main-navbar .nav-pills .nav-link.active {
  color: white;
  background-color: #8d9df9;
}

#body-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#footer {
  width: 100%;
  background-color: #d2d2d2;
}

#footer .navbar .nav-link {
  color: #7283E1;
  padding: 0px;
  align-self: start;
}

#mhrd_logo {
  height: 45px;
  padding-right: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signed-in-content {
  display: flex;
}

.signed-in-content .btn,
.signed-in-content .btn:hover,
.signed-in-content .btn:focus,
.signed-in-content .btn:not(:disabled):not(.disabled):active,
.signed-in-content .btn:not(:disabled):not(.disabled):active:focus,
.signed-out-content .btn,
.signed-out-content .btn:hover,
.signed-out-content .btn:focus,
.signed-out-content .btn:not(:disabled):not(.disabled):active,
.signed-out-content .btn:not(:disabled):not(.disabled):active:focus {
  color: black;
  background-color: white;
  border: none;
  box-shadow: none;
  font-weight: bold;
}

.modal-dialog .modal-content {
  background-color: #f9f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.modal-content .modal-header {
  border-bottom: 0 none;
}
.modal-content .modal-footer {
  border-top: 0 none;
}
.modal-content .modal-title {
  text-align: center;
}
.modal-content .modal-body form {
  padding: 5% 10%;
}
.modal-content .form-group {
  color: #7283e1;
  width: 100%;
}
.modal-content .form-control {
  border-radius: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal-content .modal-body .form-check {
  color: #7283e1;
  font-size: small;
}
.modal-content .modal-body .btn {
  color: #ffffff;
  font-weight: bold;
  background-color: #8d9df9;
  border-radius: 15px;
  border: none;
  padding: 3px 33px 3px 33px;
  margin: 25px auto 10px auto;
  display: block;
}
.modal-content .modal-body .form-text {
  color: #7283e1;
}
.modal-content .modal-body .fake-link {
  color: #7283e1;
  text-align: center;
  text-decoration: underline;
}
.modal-content .modal-body .fake-link:hover {
  cursor: pointer;
}
.modal-open .App {
  filter: blur(4px);
}

.collapse .navbar-text {
  margin-right: 10px;
  color: black !important;
}

.collapse .navbar-text .bold-username {
  font-weight: bold;
}

.signout-modal .modal-footer .btn-primary {
  color: #ffffff;
  font-weight: bold;
  background-color: #8d9df9;
  border-radius: 15px;
  border: none;
  display: block;
}

.signout-modal .modal-footer .btn-danger {
  color: #ffffff;
  font-weight: bold;
  border-radius: 15px;
  border: none;
  display: block;
}
