.search-result-right-panel {
  width: 80%;
}
.right-icons > *:not(:last-child) {
  margin-bottom: 5px; 
}

.error {
  color: red;
}

#result-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 30px;
  border: 0px;
}

#result-card-header {
  border-radius: 20px 20px 0px 0px;
  background-color: #8D9DF9;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}
.header-mile {
  float: right;
}
